<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ytmp3</title>
    <!-- script file for effects with dom and css-->
    <script src="/js/script.js" defer></script>
    <!-- my own css style-->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <!-- google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="">
    <link rel="icon" type="image/png" sizes="16x16" href="">
</head>

<body>
    <div class="header">
        <div class="header_logo-container">
            <img src="" alt="ytmp3" class="header_logo">
        </div>
    </div>

    <div class="main-container flex-centering">
        <form id="main-form" class="flex-centering" action="convert-to-mp3" method="post">
            <h1 id="form-title">Yt to .mp3 </h1>
            <h3 class="form-id-mssg">Insert the Video ID</h3>
            <div id="input-container" class="flex-centering">
                <input type="text" name="ID" id="input-id" placeholder="Video ID Here!">
                <button id="send-id" class="send btn"> <span class="material-icons arrow">arrow_forward_ios</span>
                </button>
            </div>
        </form>
    </div>

    <div class="aux-container">
        <% if(typeof success !="undefined" && success){ %>
            <div class="success">
                <p>
                    <%= song_name %>
                </p>
                <a href="<%= song_link %>"><button id="download" class="btn">Download</button></a>
            </div>
            <& }else if(typeof success !="undefined" && !success) {%>
                <div class="errors">
                    <p>
                        <%=error_mssg%>
                    </p>
                </div>
                <% } %>
    </div>

    <footer class="footer">
        <div class="footer-text"><span class="author">WMYM</span> ytmp3</div>
    </footer>
</body>

</html>